/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

header img {
    width: 60px;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ddd;
}

main {
    display: grid;
    place-items: center;
    padding: 2rem 0;
}

.container {
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
